In [15]:
import nltk
import tokenize
import pandas as pd

In [16]:
nltk.download('all')

[nltk_data] Error loading all: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [17]:
from nltk.tokenize import word_tokenize

In [18]:
data = pd.read_csv(r"C:\DATA SCIENCE FILES\DATASETS\Demo_Task - assignment (1).csv")

In [19]:

data.isnull().sum()
data = data.ffill()

In [20]:
data.sample(5)

,unique_id,raw_text,review_text
12245,14824,"Fits many different size TV's, is very solid,...","Sesuai dengan berbagai ukuran TV, sangat solid..."
34521,40878,"With the Bali, my clothes fit perfectly with...","Dengan Bali, pakaian saya pas sekali tanpa per..."
21546,25632,Then at the end of the day the kids build a sn...,Kemudian pada akhir hari anak-anak membangun m...
29542,34906,This film spills the truth,Film ini menumpahkan kebenaran
7282,8668,My son wouldn't wear it because he can be a st...,Anak saya tidak akan memakainya karena dia bis...

In [21]:
data.isnull().sum()

unique_id      0
raw_text       0
review_text    0
dtype: int64

In [22]:
d1=data.raw_text

In [23]:
r1 = data.raw_text[3]

In [24]:
r1

" I'll be the first to admit, its literary quality isn't much"

In [25]:
d1.sample(10)

52850                 He has one in each vehicle he drives
12552         The reading apps for children are impressive
25981    To belittle what was done on screen here is to...
49526     But sound is kind of shaky, almost like the m...
33808                                         A nice color
8875                                                    My
8824                       I repeat that here in this case
45107     But back to the knife at hand, the SA Classic...
9047                             But I think it looks fine
49112      I had everything the video said I needed, mi...
Name: raw_text, dtype: object

In [26]:
d1.word_tokenize

AttributeError: 'Series' object has no attribute 'word_tokenize'

In [ ]:
s.word_tokenize()